<configuration>
  <system.webServer>
    <handlers>
      <add
        name="PythonHandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified"
      />
    </handlers>
    <httpPlatform
      processPath="C:\apps\my_flask_app\MyFlaskApp.exe"
      arguments=""
      startupTimeLimit="60"
      requestTimeout="00:05:00"
      stdoutLogEnabled="true"
      stdoutLogFile="C:\logs\myapp-stdout.log" >
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>